<!DOCTYPE html>
<!--[if lt IE 7]>      <html itemscope itemtype="http://schema.org/WebPage" class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ request.locale|replace('_', '-')|lower }}"> <![endif]-->
<!--[if IE 7]>         <html itemscope itemtype="http://schema.org/WebPage" class="no-js lt-ie9 lt-ie8" lang="{{ request.locale|replace('_', '-')|lower }}"> <![endif]-->
<!--[if IE 8]>         <html itemscope itemtype="http://schema.org/WebPage" class="no-js lt-ie9" lang="{{ request.locale|replace('_', '-')|lower }}"> <![endif]-->
<!--[if IE 9]>         <html itemscope itemtype="http://schema.org/WebPage" class="no-js ie9" lang="{{ request.locale|replace('_', '-')|lower }}"> <![endif]-->
<!--[if gt IE 9]><!--> <html itemscope itemtype="http://schema.org/WebPage" class="no-js" lang="{{ request.locale|replace('_', '-')|lower }}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{{ pageMeta.title }}</title>
        {% if pageMeta.description %}<meta name="description" content="{{ pageMeta.description }}" />{% endif %}
        {% if pageMeta.keywords %}<meta name="keywords" content="{{ pageMeta.keywords }}" />{% endif %}
        <meta name="generator" content="Roadiz {{ head.cmsVersion }} {{ head.cmsVersionNumber }} - {{ head.themeName }} v{{ head.themeVersion }}" />
        {#
         # This will enable mobile viewports
         #}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {#
         # HrefLang alternate url (Google suggestion), to activate ONLY if there
         # are more than 1 translation for your website
         #}
        {% if translation %}
        {% for key in translation|menu(true) %}
        <link rel="alternate" href="{{ key.url }}" hreflang="{{ key.locale|replace('_', '-')|lower }}" />
        {% endfor %}
        {% endif %}

        {#
         # Canonical url -------------------------------------------------------
         #}
        {% if node %}
        <link rel="canonical" href="{{ nodeSource|url({'absolute':true}) }}" />
        {% endif %}

        {#
         # Favicons ------------------------------------------------------------
         #}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicons/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="{{ head.resourcesUrl }}img/favicons/manifest.json">
        <meta name="apple-mobile-web-app-title" content="{{ meta.siteName }}">
        <meta name="application-name" content="{{ meta.siteName }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">

        {#
         # Share metas ---------------------------------------------------------
         #}
        {% block share_metas %}
        {#
         # Facebook ------------------------------------------------------------
         #}
        <meta property="og:title" content="{{ nodeSource.title }}" />
        <meta property="og:site_name" content="{{ meta.siteName }}" />
        <meta property="og:description" content="{{ pageMeta.description }}" />
        <meta property="og:url" content="{{ request.uri }}" />
        <meta property="og:image" content="{{ head.baseUrl }}{{ head.resourcesUrl }}img/share.png" />
        <meta property="og:type" content="website" />
        {# Google plus #}
        <meta itemprop="name" content="{{ pageMeta.title }}" />
        <meta itemprop="description" content="{{ pageMeta.description }}" />
        <meta itemprop="image" content="{{ head.baseUrl }}{{ head.resourcesUrl }}img/share.png" />
        {# Twitter #}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ pageMeta.title }}" />
        <meta name="twitter:description" content="{{ pageMeta.description }}" />
        {% if head.twitterAccount %}
        <meta name="twitter:site" content="{{ head.twitterAccount }}" />
        <meta name="twitter:creator" content="{{ head.twitterAccount }}" />
        {% endif %}
        <meta name="twitter:url" content="{{ request.uri }}" />
        <meta name="twitter:image" content="{{ head.baseUrl }}{{ head.resourcesUrl }}img/share.png" />
        {% endblock %}
        {#
         # Gulp injected styles ------------------------------------------------
         #}
        <!-- inject:css -->
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/vendor-ca20979732.css">
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/style-94f06b8164.css">
        <!-- endinject -->
        {#
         # Roadiz font-face CSS (comment if no fonts available) ----------------
         #}
        <link rel="stylesheet" href="{{ path('FontFaceCSS', {"token": head.fontToken}) }}" />
        {#
         # Dynamic CSS styles - uncomment next line to activate it -------------
         #}
        {# <link rel="stylesheet" href="{{ path('CssDynamicStyles') }}"> #}

        {#
         # Modernizr -----------------------------------------------------------
         #}
        <script src="{{ head.resourcesUrl }}vendor/modernizr.custom.js"></script>
    </head>
    {% set bodyClasses = [] %}
    {% if node %}
        {% set bodyClasses = bodyClasses|merge([
            node.nodeType.name|lower,
            node.nodeName,
            nodeSource.translation.locale|replace('_', '-')|lower
        ]) %}
    {% endif %}

    <body {% block body_attributes %}{% if node %}class="{{ bodyClasses|join(' ') }}" id="{{ node.nodeName }}" data-node-type="{{ node.nodeType.name|lower }}" data-is-home="{{ node.home }}"{% endif %}{% endblock %}>
        <div id="svg-sprite" style="display: none">{% include '@BaseTheme/svg/sprite.svg.twig' %}</div>
        <div id="loading"><div id="loading-inner"></div></div>
        {#
         # Header block --------------------------------------------------------
         #}
        <div class="container-fluid">{% block header %}{% endblock %}</div>
        {#
         # Main navigation inclusion -------------------------------------------
         #}
        {% block mainnavigation %}{% include '@BaseTheme/common/nav.html.twig' %}{% endblock %}
        {#
         # Content block -------------------------------------------------------
         #}
        <div class="container" id="main-container">
            {% block content %}{% endblock %}
            <div id="ajax-container"></div>
        </div>
        {#
         # Footer --------------------------------------------------------------
         #}
        {% include '@BaseTheme/common/footer.html.twig' %}

        {#
         # JS scripts inclusions -----------------------------------------------
         #}
        {% if not head.devMode %}
        <!-- inject:js -->
        <script data-main="{{ head.resourcesUrl }}build/app-5cffcbf104.min.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js"></script>
        <!-- endinject -->
        {% else %}
        <script data-main="{{ head.resourcesUrl }}bootstrap.js" src="{{ head.resourcesUrl }}bower_components/requirejs/require.js"></script>
        {% endif %}

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
        <noscript><div id="no-js-message">{% trans %}no_javascript_message{% endtrans %}</div></noscript>
        <script type="text/javascript">
            var temp = {};
            temp.devMode = {% if head.devMode %}true{% else %}false{% endif %};
            temp.baseUrl = "{{ head.baseUrl }}";
            temp.resourcesUrl = '{{ head.resourcesUrl }}';
            temp.ajaxToken = "{{ head.ajaxToken }}";
            temp.googleClientId = '{{ head.googleClientId }}';
            temp.mapsStyle = {% if head.mapsStyle %}JSON.parse('{{ head.mapsStyle|raw }}'){% else %}null{% endif %};
            temp.domain = temp.baseUrl.split('://')[1];

            {#
             # Cookie consent --------------------------------------------------
             #}
            window.cookieconsent_options = {
                "message":"{% trans %}cookie_choice.consent_message{% endtrans %}",
                "dismiss":"{% trans %}cookie_choice.close_message{% endtrans %}",
                "learnMore":"{% trans %}cookie_choice.find_out_more_message{% endtrans %}",
                "link":'/legals',
                "theme":"dark-bottom"
            };

            {#
             # Browser update — http://browser-update.org/customize.html -------
             #}
            var $buoop = {
                vs:{i:9,f:15,o:12.1,s:5.1,c:2},
                text:'{% trans %}browser_update.message{% endtrans %} <a href="http://browser-update.org/update-browser.html" target="_blank">{% trans %}browser_update.link{% endtrans %}</a>'
            };
            function $buo_f(){
                var e = document.createElement("script");
                e.src = "//browser-update.org/update.js";
                document.body.appendChild(e);
            };
            try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
            catch(e){window.attachEvent("onload", $buo_f)}

            {#
             # Google Analytics ------------------------------------------------
             #}
            {% if head.universalAnalyticsId %}
            {# Google Analytics: change {{ head.universalAnalyticsId }} to be your site's ID.  #}
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ head.universalAnalyticsId }}', temp.domain);ga('send','pageview');
            {% endif %}
        </script>
    </body>
</html>
