<!DOCTYPE html>
<!--[if lt IE 7]>      <html itemscope itemtype="http://schema.org/Article" class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>         <html itemscope itemtype="http://schema.org/Article" class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>         <html itemscope itemtype="http://schema.org/Article" class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if IE 9]>         <html itemscope itemtype="http://schema.org/Article" class="no-js ie9" lang="fr"> <![endif]-->
<!--[if gt IE 9]><!--> <html itemscope itemtype="http://schema.org/Article" class="no-js" lang="fr"> <!--<![endif]-->
    <head>

        <meta charset="utf-8">

        <title>{{ pageMeta.title }}</title>

        <meta name="description" content="{{ pageMeta.description }}" />
        <meta name="keywords" content="{{ pageMeta.keywords }}" />
        <meta name="author" content="Rezo Zero" />
        <meta name="generator" content="Roadiz {{ head.cmsVersion }} {{ head.cmsVersionNumber }}" />

        <!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->

        {# --- Favicons --- #}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ head.resourcesUrl }}img/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicons/favicon-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicons/favicon-32x32.png" sizes="32x32">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ head.resourcesUrl }}img/favicons/mstile-144x144.png">

        {# --- Share metas --- #}
        {# Facebook #}
        <meta property="og:title" content="{{ pageMeta.title }}" />
        <meta property="og:site_name" content="{{ meta.siteName }}" />
        <meta property="og:description" content="{{ pageMeta.description }}" />
        <meta property="og:url" content="{{ request.uri }}" />
        <meta property="og:image" content="{{ head.baseUrl }}{{ head.resourcesUrl }}img/share.png" />
        <meta property="og:type" content="website" />
        {# Google plus #}
        <meta itemprop="name" content="{{ pageMeta.title }}" />
        <meta itemprop="description" content="{{ pageMeta.description }}" />
        <meta itemprop="image" content="{{ head.baseUrl }}{{ head.resourcesUrl }}img/share.png" />
        {# Twitter #}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ pageMeta.title }}" />
        <meta name="twitter:description" content="{{ pageMeta.description }}" />
        <meta name="twitter:site" content="@roadiz_cms" />
        <meta name="twitter:creator" content="@roadiz_cms" />
        <meta name="twitter:url" content="{{ request.uri }}" />
        <meta name="twitter:image" content="{{ head.baseUrl }}{{ head.resourcesUrl }}img/share.png" />

        {# --- Styles --- #}
        <!-- <link rel="stylesheet" href="{{ head.resourcesUrl }}css/vendors/uikit/uikit.gradient.min.css" />
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/vendors/uikit/addons/uikit.addons.min.css" /> -->
        <link rel="stylesheet" href="{{ head.resourcesUrl }}public{{ themeServices.grunt.staticAssets.global.css[0] }}" />
        <link rel="stylesheet" href="{{ path('FontFaceCSS', {"token": head.fontToken}) }}" />

        {# --- Modernizr --- #}
        <script src="{{ head.resourcesUrl }}js/vendor/modernizr-2.6.2.min.js"></script>

    </head>
    <body {% block body_attributes %}{% if node %}class="{{ node.nodeType.name }} {{ node.nodeName }}" id="{{ node.nodeName }}"{% endif %}{% endblock %}>

        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% block header %}{% endblock %}

        {% include 'modules/navigation.html.twig' %}

        {# Add your site or application content here #}
        {% block content %}{% endblock %}

        {# Scripts #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ head.resourcesUrl }}js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        {% if head.useCdn %}
            <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/TweenMax.min.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/plugins/ScrollToPlugin.min.js"></script>
            <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled/html4+html5/jquery.history.min.js"></script> -->
        {% else %}
            <script src="{{ head.resourcesUrl }}js/vendor/TweenMax.min.js"></script>
            <script src="{{ head.resourcesUrl }}js/vendor/ScrollToPlugin.js"></script>
            {# <script src="{{ head.resourcesUrl }}js/vendor/jquery.history.js"></script> #}
        {% endif %}

        {# <script src="{{ head.resourcesUrl }}js/vendor/uikit.min.js"></script> #}

        {% if head.devMode %}
            <script src="{{ head.resourcesUrl }}js/vendor/cookiechoices.js"></script>
            <script src="{{ head.resourcesUrl }}js/plugins.js"></script>
            <!-- <script src="{{ head.resourcesUrl }}js/base-theme-page.class.js"></script> -->
            <script src="{{ head.resourcesUrl }}js/main.js"></script>
        {% else %}
            <script src="{{ head.resourcesUrl }}public{{ themeServices.grunt.staticAssets.global.js[0] }}"></script>
        {% endif %}

        <script type="text/javascript">
            var temp = {};
            temp.baseUrl = "{{ head.baseUrl }}";
            temp.ajaxToken = "{{ head.ajaxToken }}";

            document.addEventListener('DOMContentLoaded', function(event) {
                cookieChoices.showCookieConsentBar(
                    'En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies pour réaliser des mesures d’audience.',
                    'Fermer', // OK link title
                    'En savoir plus', // Link title
                    '/mentions-legales' // set legals page here to read full cookie usage explainations.
                );
            });
        </script>

        <noscript><section id="no-js-message">JavaScript est désactivé sur votre navigateur ou celui-ci ne supporte pas cette technologie. Veuillez l'activez ou mettre à jour votre navigateur pour une meilleure expérience de navigation.</section></noscript>

        {% if head.universalAnalyticsId %}
        {# Google Analytics: change {{ head.universalAnalyticsId }} to be your site's ID.  #}
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ head.universalAnalyticsId }}');ga('send','pageview');
        </script>
        {% endif %}
    </body>
</html>
