{#
 # Define some variables in case of use without a nodeSource.
 #}
{% if not nodeTypeName and nodeSource %}
    {% set nodeTypeName = nodeSource.nodeTypeName %}
{% endif %}

{% if not blockClassPrefix %}
    {% set blockClassPrefix = nodeTypeName|lower %}
{% endif %}

{% if not blockId and node %}
    {% set blockId = node.nodeName %}
{% endif %}

{% set blockClasses = [
    'page-block',
    blockClassPrefix
] %}

<div class="{% block blockClasses %}{{ blockClasses|join(' ') }}{% endblock %}"
     id="block-{{ blockId }}"
     {% if loop %} data-index="{{ loop.index0 }}"{% endif %}
     data-node-type="{{ nodeTypeName }}">
    {% block innerContent %}
        <div class="container">
            <h2 class="page-block-title {{ blockClassPrefix }}-title">{{ nodeSource.title }}</h2>
            <div class="page-block-content {{ blockClassPrefix }}-content">
                {{ nodeSource.content|markdown }}
            </div>
        </div>
    {% endblock %}
</div>
