{#
 # Define some variables in case of use without a nodeSource.
 #}
{% if not nodeTypeName and nodeSource %}
    {% set nodeTypeName = nodeSource.nodeTypeName %}
{% endif %}

{% if not blockClassPrefix %}
    {% set blockClassPrefix = nodeTypeName|lower %}
{% endif %}

{% if not blockId and node %}
    {% set blockId = node.nodeName %}
{% endif %}

{% set blockClasses = {
    ('page-block'): true,
    (blockClassPrefix): true
} %}

<div class="{% block blockClasses %}{{ html_classes(blockClasses) }}{% endblock %}"
     id="block-{{ blockId }}"
     {% if loop %} data-index="{{ loop.index0 }}"{% endif %}
     data-node-type="{{ nodeTypeName }}">
    {% block innerContent %}
        <div class="container">
            {% if blockWalker and blockWalker.currentLevel == 1 %}
                <h2 class="page-block-title {{ blockClassPrefix }}-title">{{ nodeSource.title }}</h2>
            {% elseif blockWalker and blockWalker.currentLevel == 2 %}
                <h3 class="page-block-title {{ blockClassPrefix }}-title">{{ nodeSource.title }}</h3>
            {% else %}
                <h4 class="page-block-title {{ blockClassPrefix }}-title">{{ nodeSource.title }}</h4>
            {% endif %}
            <div class="page-block-content {{ blockClassPrefix }}-content">
                {{ nodeSource.content|markdown }}
            </div>
        </div>
    {% endblock %}
</div>
