{% extends "@BaseTheme/blocks/base.html.twig" %}

{% block innerContent %}
    {% if nodeSource.geoloc %}
        <div class="{{ blockClassPrefix }}-canvas-cont">
            <div class="{{ blockClassPrefix }}-canvas" id="map-{{ nodeSource.id }}" data-geoloc="{{ nodeSource.geoloc }}"></div>
            {% spaceless %}
                <div class="{{ blockClassPrefix }}-buttons">
                    <button class="{{ blockClassPrefix }}-button {{ blockClassPrefix }}-button-plus" data-index="0"><i aria-hidden="true" class="{{ blockClassPrefix }}-button-icon "></i></button>
                    <button class="{{ blockClassPrefix }}-button {{ blockClassPrefix }}-button-minus" data-index="0"><i aria-hidden="true" class="{{ blockClassPrefix }}-button-icon"></i></button>
                </div>
            {% endspaceless %}
        </div>
    {% endif %}
{% endblock %}
