{% extends head.ajax ? '@BaseTheme/base.ajax.twig' : '@BaseTheme/base.html.twig' %}

{% set classes = [
    'page-content',
] %}
{% if node.home %}
{% set classes = classes|merge(['home-content']) %}
{% endif %}
{% if head.ajax %}
{% set classes = classes|merge(['page-content-ajax']) %}
{% endif %}

{% set headerImages = nodeSource.headerImage %}
{% block header %}
<header>
    {% if headerImages[0] %}
    <figure>{{ headerImages[0]|display(themeServices.imageFormats.headerImage) }}</figure>
    {% endif %}
</header>
{% endblock %}

{% block content %}
    <section class="{{ classes|join(' ') }}" id="page-content-{{ node.nodeName }}"
             data-title="{{ nodeSource.title }}"
             data-node-type="{{ node.nodeType.name|lower }}"
             data-meta-title="{{ pageMeta.title }}">
        <h1>{{ nodeSource.title }}</h1>
        <div>{{ nodeSource.content|markdown }}</div>

        <div class="page-blocks">

            {# Page blocks pattern implementation #}
            {% set blocks = nodeSource|children({
                'node.nodeType' : ['!=', themeServices.typePage]
            }) %}
            {% for singleBlock in blocks %}
                <article class="page-block page-block-{{ singleBlock.node.nodeType.name|lower }}"
                         id="block-{{ singleBlock.node.nodeName }}"
                         data-index="{{ loop.index0 }}"
                         data-node-type="{{ singleBlock.node.nodeType.name|lower }}">

                </article>
            {% endfor %}
        </div>

        <div class="image">
            {% for document in nodeSource.images %}
                {% set imageMetas = document.documentTranslations.first %}
                <figure class="uk-thumbnail">
                    {{ document|display(themeServices.imageFormats.thumbnail) }}
                    <figcaption>{{ imageMetas.name }} — {{ imageMetas.copyright }}</figcaption>
                </figure>
            {% endfor %}
        </div>
    </section>
{% endblock %}
