<footer id="footer">
    <div class="container">
        <ul class="socials">
            {% for socialNetwork in head.socials %}
                <li class="socials-item {{ socialNetwork.slug }}">
                    <a rel="noopener"
                       target="_blank"
                       class="socials-link {{ socialNetwork.slug }}"
                       aria-label="{{ socialNetwork.name }}"
                       href="{{ socialNetwork.url }}">
                        {% include '@BaseTheme/svg/use.svg.twig' with { icon: 'icon-' ~ socialNetwork.slug } only %}
                        {{ socialNetwork.name -}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</footer>
