{# For performance matters, recursive nav is not enable by default. #}
{# {% set children = source|children %} #}

{% set itemClasses = ['nav-item'] %}
{% set linkClasses = ['nav-link'] %}

{% if source.node.id == active.id or source.node.id == active.parent.id %}
    {% set itemClasses = itemClasses|merge(['active']) %}
    {% set linkClasses = linkClasses|merge(['active']) %}
{% endif %}

{# {% if children|length %}
    {% set itemClasses = itemClasses|merge(['dropdown', 'has-children']) %}
{% endif %} #}

{% if source.node != home %}
    <li class="{{ itemClasses|join(' ') }}"
        id="nav-item-{{ source.node.nodeName }}"
        data-node-id="{{ source.node.id }}"
        role="menuitem">

        <a class="{{ linkClasses|join(' ') }}"
           id="nav-link-{{ source.node.nodeName }}"
           href="{{ path(source) }}">{{ source.title|default(source.node.nodeName) }}</a>

        {# {% if children|length %}
        <ul class="dropdown-menu nav-children" role="menu">
            {% for subsource in children %}
                {% include '@BaseTheme/common/nav-item.html.twig' with {
                    'source' : subsource,
                    'active' : active,
                    'home' : home,
                    'bags': bags
                } only %}
            {% endfor %}
        </ul>
        {% endif %} #}
    </li>
{% endif %}
