{# Navbar #}
<div id="navbar" class="visible-xs">
    <div id="nav-btn">
        <div class="nav-btn-bar" id="nav-btn-bar-1"></div>
        <div class="nav-btn-bar" id="nav-btn-bar-2"></div>
        <div class="nav-btn-bar" id="nav-btn-bar-3"></div>
    </div>
    <div id="navbar-label">Menu</div>
</div>
<div id="nav-overlay"></div>
{# Main nav #}
<nav id="nav" data-active-node="{{ node.id }}">
    <div class="container" id="nav-container">
        {# Nav list #}
        <ul class="nav-list" id="nav-list">

            {# Home #}
            {% if home %}
                {% set homeSource = home.nodeSources.first %}
                <li class="nav-item nav-item-home {% if node.isHome %}active{% endif %}">
                    <a href="{{ path('homePageLocale', {_locale:request.locale}) }}"
                       class="nav-link-home nav-link {% if node.isHome %}active{% endif %}" id="nav-home">{{ homeSource.title|default(home.nodeName) }}</a>
                </li>
            {% endif %}

            {% if themeServices.navigation and themeServices.navigation|length %}
                {# Pages #}
                {% for source in themeServices.navigation %}
                    {% include '@BaseTheme/common/nav-item.html.twig' with {
                    'source' : source,
                    'active' : node,
                    'home' : home,
                    'themeServices':themeServices
                    } only %}
                {% endfor %}
            {% endif %}
        </ul>
        {# Lang #}
        {% if translation %}
            <ul class="nav-list" id="nav-lang">
                {% for id, trans in translation|menu %}
                    <li class="nav-item nav-item-lang{% if trans.active %} active{% endif %}">
                        <a class="nav-link nav-link-lang{% if trans.active %} active{% endif %}" href="{{ trans.url }}">{{ trans.translation }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</nav>
