{% extends '@BaseTheme/layout.html.twig' %}

{% set classes = classes|default({
    'page-content': true,
}) %}

{% block content %}
<section
    {% block section_attributes %}
    class="{{ html_classes(classes, {
        'home-container': node.home,
        'page-content-ajax': head.ajax
    }) }}"
    id="page-content-{{ nodeName }}"
    data-title="{{ title }}"
    data-node-type="{{ nodeTypeName }}"
    data-node-name="{{ nodeName }}"
    data-is-home="{{ nodeHome }}"
    data-meta-title="{{ pageMetaTitle }}"
    {% endblock %}
>
    {% block header %}
        {% if headerImage %}
            <header class="page-header">
                <figure class="page-header-image">{{ headerImage|display(imageFormats.headerImage) }}</figure>
            </header>
        {% endif %}
    {% endblock %}

    {% block inner_content %}
        {% block inner_content_before_blocks %}
            <div class="container">
                {% if content %}<div class="page-text">{{ content|markdown }}</div>{% endif %}
            </div>
        {% endblock %}
        {% if blockWalker %}
            <div class="page-blocks">
                {% for subWalker in blockWalker %}
                    {% include '@BaseTheme/blocks/' ~ subWalker.item.nodeTypeName|u.snake ~ '.html.twig' ignore missing with {
                        'nodeSource': subWalker.item,
                        'parentNodeSource': nodeSource,
                        'themeServices': themeServices,
                        'head': head,
                        'node': subWalker.item.node,
                        'nodeType': subWalker.item.node.nodeType,
                        'loop': loop,
                        'blockWalker': subWalker,
                        'blocksLength':blockWalker|length
                    } only %}
                {% endfor %}
            </div>
        {% endif %}
        {% block inner_content_after_blocks %}{% endblock %}
    {% endblock %}
</section>
{% endblock %}
