{% extends head.ajax ? '@BaseTheme/base.ajax.twig' : '@BaseTheme/base.html.twig' %}

{% set classes = [
    'page-content',
] %}
{% if node.home %}
{% set classes = classes|merge(['home-content']) %}
{% endif %}
{% if head.ajax %}
{% set classes = classes|merge(['page-content-ajax']) %}
{% endif %}

{% set headerImages = nodeSource.headerImage %}
{% block header %}
<header>
    {% if headerImages[0] %}
    <figure>{{ headerImages[0]|display(themeServices.imageFormats.headerImage) }}</figure>
    {% endif %}
</header>
{% endblock %}

{% block content %}
<section class="{{ classes|join(' ') }}"
         id="page-content-{{ node.nodeName }}"
         data-title="{{ nodeSource.title }}"
         data-node-type="{{ node.nodeType.name|lower }}"
         data-meta-title="{{ pageMeta.title }}">

    <h1 class="page-title">{{ nodeSource.title }}</h1>
    <div class="page-text">{{ nodeSource.content|markdown }}</div>

    <div class="page-blocks">
        {#
         # Page blocks pattern implementation
         #}
        {% set blocks = nodeSource|children({
            'node.nodeType' : ['!=', themeServices.typePage]
        }) %}
        {% for singleBlock in blocks %}
        {% include '@BaseTheme/blocks/' ~ singleBlock.node.nodeType.name|lower ~ '.html.twig' with {
            'nodeSource': singleBlock,
            'parentNodeSource': nodeSource,
            'themeServices': themeServices,
            'head': head,
            'node': singleBlock.node,
            'nodeType': singleBlock.node.nodeType,
            'loop': loop,
            'blocksLength':blocks|length
        } only %}
        {% endfor %}
    </div>

    <div class="images">
        {% for image in nodeSource.images %}
            {% set imageMetas = image.documentTranslations.first %}
            <figure class="image">
                {{ image|display(themeServices.imageFormats.thumbnail) }}
                <figcaption>{{ imageMetas.name }} — {{ imageMetas.copyright }}</figcaption>
            </figure>
        {% endfor %}
    </div>
</section>
{% endblock %}
