{% extends '@BaseTheme/pages/base.html.twig' %}

{% block inner_content %}
    <h1 class="page-title">{{ nodeSource.title }}</h1>
    <div class="page-text">{{ nodeSource.content|markdown }}</div>

    <div class="page-blocks">
        {#
         # Page blocks pattern implementation
         #}
        {% set blocks = nodeSource|children({
        'node.nodeType' : ['!=', themeServices.typePage]
        }) %}
        {% for singleBlock in blocks %}
            {% include '@BaseTheme/blocks/' ~ singleBlock.node.nodeType.name|lower ~ '.html.twig' ignore missing with {
            'nodeSource': singleBlock,
            'parentNodeSource': nodeSource,
            'themeServices': themeServices,
            'head': head,
            'node': singleBlock.node,
            'nodeType': singleBlock.node.nodeType,
            'loop': loop,
            'blocksLength':blocks|length
            } only %}
        {% endfor %}
    </div>

    <div class="images">
        {% for image in nodeSource.images %}
            {% set imageMetas = image.documentTranslations.first %}
            <figure class="image">
                {{ image|display(themeServices.imageFormats.thumbnail) }}
                <figcaption>{{ imageMetas.name }} — {{ imageMetas.copyright }}</figcaption>
            </figure>
        {% endfor %}
    </div>
{% endblock %}
