{% extends '@BaseTheme/pages/base.html.twig' %}

{% block header %}
    <header class="page-header">
        {% if headerImage %}
            <figure class="page-header-image">{{ headerImage|display(imageFormats.headerImage) }}</figure>
        {% endif %}
        <div class="container">
            <h1 class="page-title">{{ nodeSource.title }}</h1>
        </div>
    </header>
{% endblock %}

{% block inner_content %}
    <div class="container">
        <div class="page-text">{{ nodeSource.content|markdownExtra }}</div>
    </div>

    <div class="page-blocks">
        {# Page blocks pattern implementation #}
        {% set blocks = nodeSource|children({
            'node.nodeType.reachable': false,
            'node.visible': true,
        }) %}
        {% for singleBlock in blocks %}
            {% include '@BaseTheme/blocks/' ~ singleBlock.node.nodeType.name|lower ~ '.html.twig' ignore missing with {
                'nodeSource': singleBlock,
                'parentNodeSource': nodeSource,
                'themeServices': themeServices,
                'head': head,
                'node': singleBlock.node,
                'nodeType': singleBlock.node.nodeType,
                'loop': loop,
                'blocksLength':blocks|length
            } only %}
        {% endfor %}
    </div>

    <div class="images">
        {% for image in nodeSource.images %}
            {% set imageMetas = image.documentTranslations.first %}
            <figure class="image">
                {{ image|display(imageFormats.thumbnail) }}
                <figcaption>{{ imageMetas.name }} — {{ imageMetas.copyright }}</figcaption>
            </figure>
        {% endfor %}
    </div>
{% endblock %}
