{% extends "bootstrap_4_layout.html.twig" %}

{%- block widget_attributes -%}
    {%- if label and not attr.placeholder %}
        {% set attr = attr|merge({
            placeholder: label|trans,
            'aria-label': label|trans
        }) %}
        {% if required %}
            {% set attr = attr|merge({
                placeholder: label|trans ~ '*',
                'aria-label': label|trans
            }) %}
        {% endif %}
    {% endif -%}
    {{ parent() }}
{%- endblock widget_attributes -%}

{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    <{{ element|default('div') }} class="form-group form-{{ name|replace({ '_': '-' }) }}">
    {{- form_label(form) -}}
    {{- form_widget(form) -}}
    </{{ element|default('div') }}>
{%- endblock form_row %}

{% block form_label -%}
    {{ parent() }}
    {%- if form.vars.help ?? false -%}
        <p id="{{ form.vars.id }}_help" class="form-row-desc text-muted">{{ form.vars.help|trans|inlineMarkdown }}</p>
    {%- endif -%}
{%- endblock form_label %}

{% block recaptcha_widget -%}
    {# Google Recaptcha v2 #}
    {#<div class="g-recaptcha" data-sitekey="{{ configs.publicKey }}"></div>#}
    {# Google Recaptcha v3 - do not mount v2 component #}
    <div class="g-recaptcha-v3" data-sitekey="{{ configs.publicKey }}"></div>
{%- endblock recaptcha_widget %}
