{% if source.title %}
	{% set title = source.title %}
{% else %}
	{% set title = source.node.nodeName %}
{% endif %}
{% set children = source|children %}

{% set classes = ['nav-item'] %}
{% if source.node.id == active.id or source.node.id == active.parent.id %}
{% set classes = classes|merge(['active']) %}
{% endif %}
{% if children|length %}
{% set classes = classes|merge(['dropdown', 'has-children']) %}
{% endif %}

{% if source.node != home %}
<li class="{% for class in classes %}{{ class }} {% endfor %}"
	id="nav-item-{{ source.node.nodeName }}"
	data-node-id="{{ source.node.id }}">

	<a class="nav-link" id="nav-link-{{ source.node.nodeName }}" href="{{ source|url }}"
	   data-node-type="{{ source.node.nodeType.name|lower }}"
       data-node-name="{{ source.node.nodeName }}"
       data-content="{{ title }}"
       data-title="{{ source.handler.seo.title }}">{{ title }}</a>

	{% if children|length %}
	<ul class="dropdown-menu nav-children">
		{% for subsource in children %}
			{% include '@BaseTheme/modules/nav-item.html.twig' with {
				'source' : subsource,
				'active' : active,
				'home' : home,
	            'securityContext' : securityContext
			} only %}
		{% endfor %}
	</ul>
	{% endif %}
</li>
{% endif %}
